@model Bi_WeeklyProject_6.Models.User

@{
    ViewBag.Title = "Home Page";
}
@if (Session["user"] != null)
{
    if (Model.Role.Equals(Bi_WeeklyProject_6.Models.Roles.Analyst))
    {
        <div class="jumbotron">
            <p class="lead">Press the button to create a new task</p>
            <p><a href="/Tasks/Create" class="btn btn-primary btn-lg">Create Document &raquo;</a></p>
            <p><a href="/Tasks/Index" class="btn btn-primary btn-lg">Check @Model.Role Tasks &raquo;</a></p>
        </div>
    }
    else
    {
        <br /><br />
        <p><a href="/Tasks/Index" class="btn btn-primary btn-lg">Check @Model.Role Tasks &raquo;</a></p>
        <p>U can't create a document!</p>
    }
}
else
{
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div class="col-md-12">
        <h1 class="ml-lg-5"> Welcome to Bi-Weekly Project 6 for CB6 - C#</h1>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
}
